<sly data-sly-include="topHeader.html"></sly>

<sly data-sly-include="leftNav.html"></sly>


<div class="page-container">
    <div class="title"><h1>Joe, here's how you're doing...</h1></div>
    <div class="cards">
        <sly data-sly-resource="${'dashboard' @ resourceType='poc-aem-project/components/content/dashboard'}"/>
    </div>
    <div class="legend"><a href="#">Customize your dashboard</a></div>
    <div class="news">
        <sly data-sly-resource="${'linklist' @ resourceType='poc-aem-project/components/content/linklist'}"/>
    </div>
</div>
<link rel="stylesheet" href="/etc/clientlibs/poc-aem-project/main/css/styles.css">

<script src="/etc/clientlibs/poc-aem-project/main/js/charts.js"></script>
<script src="/etc/clientlibs/poc-aem-project/main/js/scripts.js"></script>