<sly data-sly-include="topHeader.html"></sly>

<sly data-sly-include="leftNav.html"></sly>


<div class="page-container">
    <div class="title"><h1>Joe, here's how you're doing...</h1></div>
    <div class="cards col-sm-12 main">
        <sly data-sly-resource="${'content' @ resourceType='wcm/foundation/components/parsys'}"/>
    </div>
    <div class="legend"><a href="#">Customize your dashboard</a></div>
    <div class="news">
        <ul id="list">
            <li> <a class="select" href="" >What's new for you</a></li>
            <li> <a href="#" >New regulations in your area</a></li>
            <li> <a href="#" >Insights related to your book of business</a></li>
            <li> <a href="#" >top news about your client segments</a></li>
        </ul>
    </div>
</div>
<link rel="stylesheet" href="/etc/clientlibs/poc-aem-project/main/css/styles.css">

<script src="/etc/clientlibs/poc-aem-project/main/js/charts.js"></script>
<script src="/etc/clientlibs/poc-aem-project/main/js/scripts.js"></script>