<aside  class="navigation">
    <div>
        <ul id="collapse">
            <li> <a class="select" href="" >Quick links</a></li>
            <li> <a href="#" >Book of business</a></li>
            <li> <a href="#" >Quotes</a></li>
            <li> <a href="#" >Compensation</a></li>
            <li> <a href="#" >Manage Members</a></li>
        </ul>
        <div id="collapse-open"><img src="/etc/clientlibs/poc-aem-project/main/img/nav.png"></div>
    </div>
    <div class="contact">
        <span><img src="/etc/clientlibs/poc-aem-project/main/img/chat.jpg"/></span>
        <span><img src="/etc/clientlibs/poc-aem-project/main/img/email.jpg"/></span>
        <span><img src="/etc/clientlibs/poc-aem-project/main/img/phone.jpg"/></span>
    </div>
</aside>