

<link rel="stylesheet" href="/etc/clientlibs/poc-aem-project/main/css/styles.css">

<header>
    <div class="top"><img src="/etc/clientlibs/poc-aem-project/main/img/logo1.jpg"/></div>
    <div class="logo">
        <div class="header-section-1">
            <img src="/etc/clientlibs/poc-aem-project/main/img/logo2.jpg"/>
        </div>
        <div class="header-section-2">
            <div class="block-1">
                <span >Your Broker Tier</span>
                <ul class="tier">
                    <li class="first"> <span>1</span></li>
                    <li class="second selected"> <span>2</span> </li>
                    <li class="third"> <span>3</span></li>
                </ul>
            </div>
        </div>
        <div class="header-section-3">
            <div class="block-2">
                <img src="/etc/clientlibs/poc-aem-project/main/img/avatar.jpg"/><br/>
                <span>Joe Smith</span>
            </div>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li> <a href="#" class="selected">Home</a></li>
            <li> <a href="insights.html" >Insights</a></li>
            <li> <a href="#" >Community</a></li>
            <li> <a href="#" >Sales Tools</a></li>
            <li> <a href="#" >Support</a></li>
        </ul>
    </div>
    <div class="sep">
        <div class="separator"></div>
    </div>
</header>